<div class="container" *ngIf="user">
  <form #editForm>
    <div class="form-group">
      <label>First Name: </label>
      <input type="text" class="form-control" value="{{user.firstName}}">
    </div>
    <div class="form-group">
      <label>Last Name: </label>
      <input type="text" class="form-control" value="{{user.lastName}}">
    </div>
    <div class="form-group">
      <label>Age: </label>
      <input type="number" class="form-control" value="{{user.age}}">
    </div>
    <div class="form-group">
      <label>Company: </label>
      <input type="text" class="form-control" value="{{user.company}}">
    </div>
    <div class="form-group">
      <label>Department: </label>
      <input type="text" class="form-control" value="{{user.department}}">
    </div>
    <div class="form-group">
      <label>Email: </label>
      <input type="text" class="form-control" value="{{user.email}}">
    </div>
  <div>
    <button type="submit" class="btn btn-primary" (click)="onUpdateUser(user)" routerLink="/">Update User</button>
  </div>
  </form>
  </div>

