<form [formGroup]='addUserForm' (ngSubmit)="onSubmit()" #form>
        <div class="form_element">
        <label >First Name:</label>
    <input  type="text"  class="form-control" formControlName="firstName"/>
    <span class="error" *ngIf="checkFormControlField('firstName')">Name is required</span>
    </div>
    <div class="form_element">
            <label for="">Last Name:</label>
            <input type="text"  class="form-control" formControlName="lastName" />
            <span  class="error" *ngIf="checkFormControlField('lastName')">Please enter the last name, while is required</span>
    </div>
    <div class="form_element">
            <label for="">Age:</label>
            <input type="number"  class="form-control" formControlName="age" />
            <span class="error" *ngIf="checkFormControlField('age')">Age should be between 15 and 100</span>
    </div>
    <div class="form_element">
            <label for="">Company:</label>
            <input type="text"  class="form-control" formControlName="company" />
            <span class="error" *ngIf="checkFormControlField('company')">Company name should be no more than 35 symbols</span>
    </div>
    <div class="form_element">
            <label for="">Email:</label>
    <input type="email"  class="form-control" formControlName="email" />
    <span class="error" *ngIf="checkFormControlField('email') && getControl('email').errors?.email">Email is required</span>
    <span class="error" *ngIf="checkFormControlField('email') && getControl('email').errors?.emailExist">Email exist, please use another</span>
    <span class="error" *ngIf="checkFormControlField('email') && getControl('email').errors?.notGmail">Please use gmail service</span>
    </div>
    <div class="form_element">
            <label for="">Department:</label>
            <input type="text"  class="form-control" formControlName="department" />
            <span class="error" *ngIf="checkFormControlField('department')">Name of Department is required</span>
    </div>
    <div class="form_element">
            <label for="">Gender:</label>
            <input type="radio"  class="form-control" formControlName="gender" value="Male" />Male: 
            <input type="radio"  class="form-control" formControlName="gender" value="Female" />Female:
            <span class="error" *ngIf="checkFormControlField('gender')">Please specify a gender</span> 
    </div>
    <div class="form_element">
            <label for="">Photo:</label>
            <input type="file"  class="form-control" formControlName="photo" />
    </div>
    <button mat-button type='submit' [disabled]="!addUserForm.valid" color="primary" mat-raised-button>Submit</button>
    <button mat-button (click)='populateData()' color="primary" mat-raised-button>Populate Data</button>
</form>
<hr>


<div>Form Dirty: {{addUserForm.dirty}}</div>
<div>Form Touched: {{addUserForm.touched}}</div>
<div>Form Valid: {{addUserForm.valid}}</div>
<div>Form Status: {{addUserForm.status}}</div>
<div>Form values: {{addUserForm.value | json}}</div>
