<form [formGroup]='addUserForm'>
    <label for="">First Name:</label>
    <input type="text"  class="form-control" formControlName="firstName" required />
    <label for="">Last Name:</label>
    <input type="text"  class="form-control" formControlName="lastName" required />
    <label for="">Age:</label>
    <input type="number"  class="form-control" formControlName="age" required />
    <label for="">Company:</label>
    <input type="text"  class="form-control" formControlName="company" required />
    <label for="">email:</label>
    <input type="email"  class="form-control" formControlName="email" required />
    <label for="">Department:</label>
    <input type="text"  class="form-control" formControlName="department" required />
</form>

<button mat-button (click)='onSubmit()'>Submit</button>